header {
    display: flex;
    border: 2px solid $green;
    border-top: 0;
    border-radius: 0px 0px 10px 10px;
    padding: 20px;
    align-items: center;
    gap: 20px;
    background-color: $bg-header;
    animation: UpToDown 1s ease-in-out;
    width: 100vw !important;
    .header__content {
        display: flex;
        gap: 20px;
    }

    h1 {
        font-size: 20px;
        font-weight: bold;
        color: $white;
    }

    a {
        color: white;
    }

    button {
        color: white;
    }
}