main {
    margin-top: 30px;
    width: 100%;
}

.post__item {
    padding: 1em;
    width: 100vw;
    max-width: 900px;
    border: 2px solid $green;
    border-radius: 7px;
    animation: UpToDown 0.5s ease-in-out;
    margin-bottom: 10px;
    background-color: $bg-body;
    transition: all 0.5s ease-in-out;

    &:hover {
        background-color: $bg-hover-post;
        transform: scale(1.01);
    }

    &:last-child {
        margin-bottom: 0;
    }

    .title {
        font-size: 20px;
        font-family: 'Raleway', sans-serif;
    }

    .post__title {
        font-size: 20px;
        color: $white;
        width: 100%;
        overflow: hidden;
        display: flex;
        text-overflow: ellipsis;
    }

    .post__bottom {
        text-align: right;
        display: flex;
        gap: 10px;
        justify-content: end;

        .bottom__author {
            color: $gray;
        }

        .bottom__time {
            text-align: right;
            color: $gray;
        }
    }

    .post__short-desc {
        color: $gray;
    }

}

nav {
    display: flex !important;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 15px;
}

.pagination {
    list-style: none;
    padding: 0;
    display: flex;

    li {
        margin: 0 5px;
        border: 2px solid $green;
        padding: 5px;
        border-radius: 5px;
        transition: all 0.5s;
        &.active {
            font-weight: bold;
            background-color: #363636;
        }

        &:hover {
            background-color: #363636;
        }
    }

    a {
        text-decoration: none;
        color: $white;
        display: flex;


    }

    span {
        margin: 0 5px;
        color: $white;
    }
}

.non-active {
    border: 2px solid $gray !important;

    a {
        color: $gray;

        svg {
            g {
                path {
                    stroke: $gray;
                }
            }
        }
    }


}

.create_post {
    width: 100%;
    padding: 15px;
    background-color: $green;
    color: $white;
    display: flex;
    margin-bottom: 10px;
    border-radius: 5px;
    animation: UpToDown 0.5s ease-in-out;
}