.fade-enter-active,
.fade-leave-active {
    transition: opacity 0.5s;
}

.fade-enter,
.fade-leave-to {
    opacity: 0;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    color: $white;
    z-index: 9999;
}

.modal__content {
    background-color: $bg-header;
    padding: 20px;
    border-radius: 5px;
    border: 2px solid $green;
    
}

.modal__top {
    display: flex;
    justify-content: space-between;

    button {
        color: $gray;
    }
}

.modal__body {
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 10px;


    input {
        border: 2px solid $gray;
        padding: 5px;
        border-radius: 7px;
        outline: none;
        transition: all 0.5s ease-in-out;

        &:focus {
            border-width: 3px;
            border-color: $green-hover;

        }
    }

    textarea {
        border: 2px solid $gray;
        padding: 5px;
        border-radius: 7px;
        outline: none;
        transition: all 0.5s ease-in-out;

        &:focus {
            border-width: 3px;
            border-color: $green-hover;

        }
    }
}

.modal__bottom {
    display: flex;
    &.col{
    flex-direction: column;
    }
}