
//Colors
$gray: rgba(134, 134, 134, 0.783);
$gray-hover: rgba(134, 134, 134, 0.7);
$white: white;
$green: rgb(34, 142, 93);
$green-hover:rgb(34, 142, 93,0.7);
$red: rgb(239, 100, 100);
$red-hover:rgb(239, 141, 141);


$bg-header:rgb(39,39,39);
$bg-body: #303030;

$bg-post: #303030;
$bg-hover-post: #363636;